body {
	margin:15px;
	line-height: 1.5;
	color:#333;
	font-family:Verdana,Georgia,Serif;
}

a{
	text-decoration:none; 
	color:#226bff;
}

table{margin:4px 4px 10px 4px; border-collapse:collapse; border:1px solid #cccccc; font-size:0.9em; }
td{border:1px solid #cccccc; font-size:0.8em; padding:8px;}
th{background:#f5f5f5; padding:8px; font-size:0.8em; border:1px solid #cccccc;}

img,
object {
     max-width: 100%;
	 height: auto;
}

input[type=text]{border:1px solid #ccc; height:26px; padding:3px; border-radius:4px; margin:10px;}

input[type=submit] {
	color: #fff;
  background-color: #428bca;
  border-color: #357ebd;
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.428571429;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
       -o-user-select: none;
          user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
 }
  
input[type=submit]:focus { 
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}

input[type=submit]:hover,
input[type=submit]:focus {
  text-decoration: none;
   color: #fff;
  background-color: #3276b1;
  border-color: #285e8e;
}
input[type=submit]:active,
input[type=submit].active {
  background-image: none;
  outline: 0;
  -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
          box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
}

select {
    max-width: 150px !important;
    overflow: hidden;
}
option {
    max-width: 120px !important;
    overflow: hidden;
}

.alignleft {
	display: inline;
	float: left;
}
.alignright {
	display: inline;
	float: right;
}
.aligncenter {
	clear: both;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

blockquote{border-left:3px solid #226bff; padding:19px; margin-left:5%; background: #e9e9e9; border-radius:2px; font-style:italic;}
